
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Info</h2>

<table class="table">
    <tr>
        @Html.ActionLink("My Albums","Index","Albums")
    </tr>
</table>

