@model IEnumerable<TI2_proj.Models.Musicas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            var availableTags = [];
            @foreach (var item in Model)
            {
                @:availableTags.push("«@Html.DisplayFor(modelItem => item.Titulo)» from @Html.DisplayFor(modelItem => item.Album.Titulo)");
            }
            $("#tags").autocomplete({
                    source: availableTags,
                select: function (e, obj) {
                            alert(@Html.DisplayFor(modelItem => Model.ElementAt(5).Artistas.ElementAt(0).ArtistaFK));
                        }
                    });
                });
    </script>
</head>
<body>
    <div> 
    </div>
    <div class="demo">

        <div class="ui-widget">
            <label for="tags">Songs: </label>
            <input id="tags">
        </div>

    </div><!-- End demo -->



    <div class="demo-description" style="display: none; ">
        <p>The Autocomplete widgets provides suggestions while you type into the field. Here the suggestions are tags for programming languages, give "ja" (for Java or JavaScript) a try.</p>
        <p>The datasource is a simple JavaScript array, provided to the widget using the source-option.</p>
    </div><!-- End demo-description -->
</body>
</html>




